<!--hacky dont like it for width-->
<div *ngIf="level == '1'">
  <div class="w3-col" style="width: 12.5%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="getChangeLog(); getRequestLog(); populateDropDowns(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div *ngIf="confirmed == 1">
            <div class="colorstripGreen">
              <p>{{surgAM}}<br>{{deptAM}}</p>
            </div>
          </div>
          <div *ngIf="confirmed == 0">
            <div class="colorstripYellow">
              <p>{{surgAM}}<br>{{deptAM}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="level == '2'">
  <div class="w3-col" style="width: 14%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="getChangeLog(); getRequestLog(); populateDropDowns(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="level == '4'">
  <div class="w3-col" style="width: 14%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="populateDropDowns(); getChangeLog(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">

            <span *ngIf="requestNumbers != 0; else other_content">{{requestNumbers}}</span>{{surgAM}}<br>
            <ng-template #other_content><span class="spaceSave">{{requestNumbers}}</span></ng-template>



            <span class="spaceSave">{{requestNumbers}}</span>{{deptAM}}
            <!--<ng-template #other_content><span class="spaceSave">{{requestNumbers}}</span></ng-template>-->

            <!--<div *ngIf="requestNumbers != 0;else other_content">-->
              <!--<span>{{requestNumbers}}</span>-->
            <!--</div>-->

            <!--<ng-template #other_content><span class="spaceSave">1</span></ng-template>-->
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="level == '8'">
  <div class="w3-col" style="width: 7%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="getChangeLog(); getRequestLog(); populateDropDowns(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="level == '9'">
  <div class="w3-col" style="width: 25%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="getChangeLog(); getRequestLog(); populateDropDowns(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<!--Modal Structure-->
<div>
    <modal #myModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <h1 class="modal-title">{{date | date:'EEEE dd MMM'}}<br> Operating Room {{room}} Level {{level}}</h1>
    </modal-header>
    <modal-content>
        <form [formGroup]="formModel" id="formModel"  novalidate>
            <div class="col m12">
                <label style="font-weight: 400; font-size: 125%">Morning Session</label><br>
            </div>
            <div class="row no-pad-bot">
              <div class="col m6">
                <div class="form-group">
                  <label for="f_surgAM">Surgeon</label>
                  <select formControlName="f_surgAM" class="form-control input-md" id="f_surgAM" >
                    <option [selected]="surgAM">{{surgAM}}</option>
                    <option *ngFor="let s of surgeons" [value]="s">
                      {{s}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col m6">
                <div class="form-group">
                  <label for="f_deptAM">Department</label>
                  <select formControlName="f_deptAM" class="form-control input-md" id="f_deptAM" >
                    <option [selected]="deptAM">{{deptAM}}</option>
                    <option *ngFor="let s of services" [value]="s">
                      {{s}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col m12 no-pad-top">
                  <label style="font-weight: 400; font-size: 125%">Afternoon Session</label><br>
              </div>

              <div class="col m6">
                <div class="form-group">
                  <label for="f_surgPM">Surgeon</label>
                  <select formControlName="f_surgPM" class="form-control input-md" id="f_surgPM" >
                    <option [selected]="surgPM">{{surgPM}}</option>
                    <option *ngFor="let s of surgeons" [value]="s">
                      {{s}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col m6">
                <div class="form-group">
                  <label for="f_deptAM">Department</label>
                  <select formControlName="f_deptPM" class="form-control input-md" id="f_deptPM" >
                    <option [selected]="deptPM">{{deptPM}}</option>
                    <option *ngFor="let s of services" [value]="s">
                      {{s}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
          <!--only admin can have this panel-->
          <div *ngIf="permission == 1" class="admin-panel">
              <div class="col m12 no-pad-top">
                  <label style="font-weight: 400; font-size: 125%">Admin Panel</label><br>
              </div>
              <div class="row">
                  <div class="col m6">
                      <label for="f_deptPM">Confirmed</label>
                      <div class="switch">
                          <label>
                              No
                              <input id="f_confirmed" type="checkbox" value="checked"  formControlName="f_confirmed">
                              <span class="lever"></span>
                              Yes
                          </label>
                      </div>
                  </div>
                  <div class="col m6">
                  </div>
              </div>
          </div>


            <div class="col m12">

              <button [disabled]="!formModel.dirty"  (click)="request()" class="waves-effect waves-light btn left ">Request</button>

              <button *ngIf="!formModel.dirty" class="waves-effect waves-light btn right"(click)="myModal.close();">Close</button>
              <button *ngIf="formModel.dirty" class="waves-effect waves-light btn right"(click)="checkModal.open()">Close</button>
              <button style="margin-right: 5%" [disabled]="!formModel.dirty" *ngIf="permission == 1" (click)="saveBooking()" class="waves-effect waves-light btn right ">Save</button>

            </div>

        </form>
    <modal-footer>
      <!--admin request panel with accept/reject-->
      <label *ngIf="requestedBookings?.length > 0" style="font-weight: 400; font-size: 125%">Open Request Log</label>
      <hr>
      <div *ngIf="permission == 1">
        <div *ngFor="let r of requestedBookings">
          <div class="row">
            <div class="row">
              <label>Requested on {{r.created | date: 'd MMM H:mm'}}</label>
            </div>
            <div class="col m4">
              <label>Morning</label><br>
              Surgeon: {{r.am_surg}}<br>
              Department: {{r.am_dept}}
            </div>
            <div class="col m4">
              <label>Afternoon</label><br>
              Surgeon: {{r.pm_surg}}<br>
              Department: {{r.pm_dept}}
            </div>
            <div class="col m4">
              <button (click)="acceptRequest(r.url, r.date, r.level, r.room,  r.am_dept, r.am_surg, r.pm_dept, r.pm_surg, 1, 1)">Accept</button>
              <button>Reject</button>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!--read only request panel-->
      <div *ngIf="permission != 1">
        <div *ngFor="let r of requestedBookings">
          <div class="row">
            <div class="row">
              <label>Requested on {{r.created | date: 'd MMM H:mm'}}</label>
            </div>
            <div class="col m6">
              <label>Morning</label><br>
              Surgeon: {{r.am_surg}}<br>
              Department: {{r.am_dept}}
            </div>
            <div class="col m6">
              <label>Afternoon</label><br>
              Surgeon: {{r.pm_surg}}<br>
              Department: {{r.pm_dept}}
            </div>
          </div>
          <hr>
        </div>

      </div>


      <label *ngIf="changedBookings?.length > 0  "style="font-weight: 400; font-size: 125%">Change Log</label>
      <hr>
      <div *ngFor="let c of changedBookings">
          <div class="row" *ngIf="c.status != 5">
              <div class="row">
                <label >Changed on {{c.created | date: 'd MMM H:mm'}}</label>
              </div>
              <div class="col m6">
                  <label>Morning</label><br>
                  Surgeon: {{c.am_surg}}<br>
                  Department: {{c.am_dept}}
              </div>
              <div class="col m6">
                  <label>Afternoon</label><br>
                  Surgeon: {{c.pm_surg}}<br>
                  Department: {{c.pm_dept}}
              </div>
          </div>
          <hr>
      </div>
    </modal-footer>
    </modal-content>
</modal>
</div>
<div>
    <modal #checkModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
        <modal-header>
            <h1 class="modal-title">Changes detected</h1>
        </modal-header>
        <modal-content>
            Are you sure you want to close without saving?
        </modal-content>
        <modal-footer>
            <div class="row">
                <div class="col m6"></div>
                <div class="col m6">
                    <button class="waves-effect waves-light btn left"(click)="saveBooking(); checkModal.close(); myModal.close();">Save</button>
                    <button class="waves-effect waves-light btn right"(click)=" checkModal.close(); myModal.close(); formModel.markAsPristine(); ">Close</button>
                </div>
            </div>
        </modal-footer>
    </modal>
</div>

