.booking-title {
    padding: 0px;
    font-size: 16px;
    font-weight: 300;
}
.booking-time {
    font-weight: 600;
}

.card-title {
    font-size: 16px;
}
.modal-title {
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.colorstripGreen{
    padding: 0px;
    width: 100%; height: 100%;
    border-left: solid;
    border-width: 15px;
    border-color: #228b22;
}
.colorstripYellow{
    padding: 0px;
    width: 100%; height: 100%;
    border-left: solid;
    border-width: 15px;
    border-color: yellow;
}

.colorstripOrange{
    padding: 0px;
    width: 100%; height: 30px;
    border-style: solid;
    border-color: darkorange;
    background-color: darkorange;
}



