<!--hacky dont like it for width-->
<div *ngIf="level == '1'">
  <div class="w3-col" style="width: 12.5%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="changeLog(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div *ngIf="confirmed == 1">
            <div class="colorstripGreen">
              <p>{{surgAM}}<br>{{deptAM}}</p>
            </div>
          </div>
          <div *ngIf="confirmed == 0">
            <div class="colorstripYellow">
              <p>{{surgAM}}<br>{{deptAM}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="level == '2'">
  <div class="w3-col" style="width: 14%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="changeLog(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="level == '4'">
  <div class="w3-col" style="width: 14%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="changeLog(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="level == '8'">
  <div class="w3-col" style="width: 7%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="changeLog(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="level == '9'">
  <div class="w3-col" style="width: 25%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 1%;">
    <div (click)="changeLog(); myModal.open();">
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgAM}}<br>{{deptAM}}</p>
          </div>
        </div>
      </div>
      <div class="card white">
        <div class="card-content grey-text">
          <div class="colorstripGreen">
            <p>{{surgPM}}<br>{{deptPM}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<!--Modal Structure-->
<div>
    <modal #myModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <h1 class="modal-title">{{date | date:'EEEE dd MMM'}}<br> Operating Room {{room}} Level {{level}}</h1>
    </modal-header>
    <modal-content>
        <form [formGroup]="formModel" id="formModel"  novalidate>
            <div class="col m12">
                <label style="font-weight: 400; font-size: 125%">Morning Session</label><br>
            </div>
            <div class="row no-pad-bot">
                <div class="col m6">
                    <div class="form-group">
                        <label for="f_surgAM">Surgeon</label>
                        <input id="f_surgAM" value="{{surgAM}}" type="text" formControlName="f_surgAM">
                    </div>
                </div>
                <div class="col m6">
                    <div class="form-group">
                        <label for="f_deptAM">Department</label>
                        <input id="f_deptAM" value="{{deptAM}}" type="text" formControlName="f_deptAM">
                    </div>
                </div>

            <div class="col m12 no-pad-top">
                <label style="font-weight: 400; font-size: 125%">Afternoon Session</label><br>
            </div>

                <div class="col m6">
                    <div class="form-group">
                        <label for="f_surgPM">Surgeon</label>
                        <input id="f_surgPM" value="{{surgPM}}" type="text" formControlName="f_surgPM">
                    </div>
                </div>
                <div class="col m6">
                    <div class="form-group">
                        <label for="f_deptPM">Department</label>
                        <input id="f_deptPM" value="{{deptPM}}" type="text" formControlName="f_deptPM">
                    </div>
                </div>
            </div>
          <div>Perm:{{permission}}</div>
          <div *ngIf="permission == 1" class="admin-panel">
              <div class="col m12 no-pad-top">
                  <label style="font-weight: 400; font-size: 125%">Admin Panel</label><br>
              </div>
              <div class="row">
                  <div class="col m6">
                      <label for="f_deptPM">Confirmed</label>
                      <div class="switch">
                          <label>
                              No
                              <input id="f_confirmed" type="checkbox" value="checked"  formControlName="f_confirmed">
                              <span class="lever"></span>
                              Yes
                          </label>
                      </div>
                  </div>
                  <div class="col m6">
                  </div>
              </div>
          </div>

            <div class="col m6"></div>
            <div class="col m6">
                <button [disabled]="!formModel.dirty"(click)="save()" class="waves-effect waves-light btn left ">Save</button>

                <button *ngIf="!formModel.dirty" class="waves-effect waves-light btn right"(click)="myModal.close();">Close</button>
                <button *ngIf="formModel.dirty" class="waves-effect waves-light btn right"(click)="checkModal.open()">Close</button>
            </div>

        </form>
    <modal-footer>
        <label style="font-weight: 400; font-size: 125%">Change Log</label>
        <hr>
        <div *ngFor="let c of changedBookings">
            <div class="row">
                <div class="row">
                    <label>Changed on {{c.created | date: 'd MMM H:mm'}}</label>
                </div>
                <div class="col m6">
                    <label>Morning</label><br>
                    Surgeon: {{c.am_surg}}<br>
                    Department: {{c.am_dept}}
                </div>
                <div class="col m6">
                    <label>Afternoon</label><br>
                    Surgeon: {{c.pm_surg}}<br>
                    Department: {{c.pm_dept}}
                </div>
            </div>
            <hr>
        </div>
    </modal-footer>
    </modal-content>
</modal>
</div>
<div>
    <modal #checkModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
        <modal-header>
            <h1 class="modal-title">Changes detected</h1>
        </modal-header>
        <modal-content>
            Are you sure you want to close without saving?
        </modal-content>
        <modal-footer>
            <div class="row">
                <div class="col m6"></div>
                <div class="col m6">
                    <button class="waves-effect waves-light btn left"(click)="save(); checkModal.close(); myModal.close();">Save</button>
                    <button class="waves-effect waves-light btn right"(click)=" checkModal.close(); myModal.close(); formModel.markAsPristine(); refresh();">Close</button>
                </div>
            </div>
        </modal-footer>
    </modal>
</div>

