<div class="row ">
  <div class="valign-wrapper">

    <div class="col col-md-2">

    </div>
    <div class="col col-md-1">
      <a (click)="backWeek()"><< Back</a>
    </div>
    <div class="col col-md-2">
      <h6 >Week starting {{today}}</h6>
    </div>
    <div class="col col-md-1">
      <a (click)="forwardWeek()">Forward >></a>
    </div>
    <div class="col col-md-2">

    </div>
    <div class="col col-md-4">
      <div class="dropdown" dropdown [dropdownToggle]="false" style="padding: 0px">
        <button dropdown-open *ngIf="level == 4 || level == 8 || level == 9">level {{level}}</button>
        <button dropdown-open *ngIf="level == 1">GSU</button>
        <button dropdown-open *ngIf="level == 2">SSOR</button>
        <ul class="dropdown-menu">
          <li (click)="changeLevel(4)">Level 4</li>
          <li (click)="changeLevel(8)">Level 8</li>
          <li (click)="changeLevel(9)">Level 9</li>
          <li (click)="changeLevel(1)">GSU</li>
          <li (click)="changeLevel(2)">SSOR</li>
        </ul>
      </div>
    </div>
  </div>
</div>

