div {
  padding: 20px 20px 20px 0px;
}
#cont_header {
  width:100%;
}
.cal {
  padding: 0px;
  display: inline-block;
  float: left;
}
.lev {
  padding:0px;
  float: right;
  display: inline-block;
}
.beep {
  padding: 0px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#container{width:100%;}
#left{float:left;width: 33%;}
#right{float:right;width: 33%;}
#center{margin:0 auto;width: 33%;}
