<div class="container-fluid">

    <div class="row">
       <div class="col col-md-1"></div>

        <div class="col col-md-11">
            <header></header>
        </div>
    </div>

    <div class="col col-md-1">

</div>
    <div class="col col-md-2" >
        <div *ngFor="let booking of mondayBookings">
            <div class="row" >
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngFor="let booking of tuesdayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngFor="let booking of wednesdayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngFor="let booking of thursdayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngFor="let booking of fridayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>
</div>