
<div class="row no-gutter">
    <div class="col-lg-6">
        <button (click)="backWeek()">back 1 week</button>
        week starting {{today}}
        <button (click)="forwardWeek()">forward 1 week</button>
    </div>
    <div class="col-lg-6">
        <div class="dropdown" dropdown [dropdownToggle]="false" style="padding: 0px">
            <button dropdown-open>level {{level}}</button>
                <ul class="dropdown-menu">
                    <li (click)="changeLevel(1)">1</li>
                    <li (click)="changeLevel(2)">2</li>
                    <li (click)="changeLevel(3)">3</li>
                    <li (click)="changeLevel(4)">4</li>
                    <li (click)="changeLevel(5)">5</li>
                    <li (click)="changeLevel(6)">6</li>
                    <li (click)="changeLevel(7)">7</li>
                    <li (click)="changeLevel(8)">8</li>
                    <li (click)="changeLevel(9)">9</li>
                </ul>
        </div>
    </div>

</div>