div {
    padding: 20px 20px 20px 0px;
}
#cont_header {
    width:100%;
}
.cal {
    padding: 0px;
    display: inline-block;
    float: left;
}
.lev {
    padding:0px;
    float: right;
    display: inline-block;
}
.beep {
    padding: 0px;
}