<div class="topnav" id="myTopnav">
  <a [routerLink]="['']">Home</a>
  <a *ngIf="auth.isAuthenticated()" [routerLink]="['/calendar']">Planner</a>
  <a *ngIf="auth.isAuthenticated()" [routerLink]="['/requests']">Requests</a>


  <a style="float:right" *ngIf="!auth.isAuthenticated()"
     (click)="auth.login()">
    Log In
  </a>
  <a style="float:right" *ngIf="auth.isAuthenticated()"
     (click)="auth.logout()">
    Log Out
  </a>
  <a style="float:right" *ngIf="auth.isAuthenticated()" [routerLink]="['profile']">
    Profile
  </a>

</div>






