.booking-title {
  padding: 0px;
  font-size: 16px;
  font-weight: 300;
}
.booking-time {
  font-weight: 600;
}

.card-title {
  font-size: 16px;
}
.modal-title {
  padding: 0px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.colorstripGreen{
  padding: 0px;
  width: 100%; height: 100%;
  border-left: solid;
  border-width: 15px;
  border-color: #228b22;

}
.colorstripGreen span{
  position:relative;
  left:-13px;
  bottom:-100%;
  color: white;
}

.colorstripYellow{
  padding: 0px;
  width: 100%; height: 100%;
  border-left: solid;
  border-width: 15px;
  border-color: #ffd82f;
}

.colorstripYellow span{
  position:relative;
  left:-13px;
  bottom:-100%;
  color: white;
}

.colorstripOrange{
  padding: 0px;
  width: 100%; height: 100%;
  border-left: solid;
  border-width: 15px;
  border-color: darkorange;
}

.colorstripOrange span{
  position:relative;
  left:-13px;
  bottom:-100%;
  color: white;
}

.spaceSave {
  opacity: 0.0;
}
