<div class="container-fluid">

    <div class="row">
        <div class="col col-md-2">
        </div>

        <div class="col col-md-10">
            <header></header>
        </div>
    </div>

    <div class="col col-md-1">
    <!--<br><br>-->
    <!--{{date}}-->
</div>

    <div class="col col-md-2">
        <div *ngIf='bookings[0]'>Day: {{bookings[0].date | date:'EEEE dd'}} </div>
        <div *ngFor="let booking of bookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
                 </div>
    </div>


    <div class="col col-md-2">
        <div *ngIf='tuesdayBookings[0]'>Day: {{tuesdayBookings[0].date | date:'EEEE dd'}} </div>
        <div *ngFor="let booking of tuesdayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngIf='wednesdayBookings[0]'>Day: {{wednesdayBookings[0].date | date:'EEEE dd'}} </div>
        <div *ngFor="let booking of wednesdayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngIf='thursdayBookings[0]'>Day: {{thursdayBookings[0].date | date:'EEEE dd'}} </div>
        <div *ngFor="let booking of thursdayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div *ngIf='fridayBookings[0]'>Day: {{fridayBookings[0].date | date:'EEEE dd'}} </div>
        <div *ngFor="let booking of fridayBookings">
            <div class="row">
                <booking deptAM="{{booking.am_dept}}" surgAM="{{booking.am_surg}}" deptPM="{{booking.pm_dept}}" surgPM="{{booking.pm_surg}}"> </booking>
            </div>
        </div>
    </div>



</div>